.anim-type{
    animation: typewriter 4s steps(44) 1s 1 normal both,
    blinktextcursor 500ms steps(44) infinite normal ;
}
@keyframes typewriter {
    from{size: 0;}
    to{ width: max-content;}
}
@keyframes blinktextcursor {
    from{
        border-right-color:dimgrey;
    }
    to{
        border-right-color: transparent;
    }
}
@media screen and (min-width: 960px) {
    html {
        margin-left: calc(100vw - 100%);
        margin-right: 0;
    }
}
